 @import url(https://fonts.google.com/specimen/Red+Hat+Display);

body{
    margin: 0 auto;
    padding: 0 auto;     
    

}
.container{
   
 
    width: 100vw;
    height: 100vh;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.waves{
    position: relative;
    bottom: 271px;
    width: 100%;
    margin: 0 auto;

}


.card{

    position: fixed;
    background-color: white;
    width: 450px ;
    height: 700px;
    border-radius: 30px;
    


}
.banner-msc{
    border-radius: 30px 30px 0px 0px;
}
.txt1{
    position: relative;
    top: 20px;
    font-size: 30px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;

}
.p1{
        width: 313px;
        height: 300px;
        position: relative;
        top: 20px;
        left: 80px;
        font-size: 17px;
        font-family: 'Red Hat Display', sans-serif;
        font-weight: 500;
        color: hsl(224, 23%, 55%);
    
    
}
.Plan{
    position: relative;
    width: 350px;
    height: 100px;
    bottom: 214px;
    left: 50px;
    
    border-radius: 15px;
    background-color: #F8F9FD;
}
.icon-msc{
    position: absolute;
    top: 25px;
    left: 25px;
}
.plan-txt{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 900;
    font-size: 15px;
    
    position: relative;
    top: 24px;
    right: 35px;
}
.plan-price{
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    font-size: 17px;
    
    position: relative;
    top: 15px;
    right: 40px;
    color: hsl(224, 23%, 55%);
}
.link{

    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;

    position: relative;
    bottom: 40px;
    left: 135px;
    font-size: 15px;
}
.payment{
    position: relative;
    bottom: 185px;


    border-radius: 15px;
    border: 0px;
    width:  350px;
    height:50px;
    
    font-size: 15px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;

    color: #FFF;
    background-color: hsl(245, 75%, 52%);

    box-shadow: 0px 20px 10px  hsl(245, 75%, 52%, 0.2);
    
}
.payment:hover{
    cursor: pointer;
}
.cancel{
    position: relative;
    bottom: 160px;

    font-size: 17px;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;

    color: hsl(224, 23%, 55%);
    

}
.cancel:hover{
    cursor: pointer;
}
